{% extends "static\base.html" %}
{% block content %}



<header class="bg-primary text-white text-center py-5">
    <h1>About Us</h1>
</header>

<main class="container mt-5">
    <div class="row mt-3">
        <div class="col-8">
            <h2>This site is just a way to practice url routing for static websites</h2></div>
        </div>
    <div class="row mt-2">
        <article>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia voluptates ipsa dolorum quibusdam maxime earum doloribus enim animi! Corrupti obcaecati quaerat aliquid provident, error rerum tempore consequatur quia, ex at quae vitae? Culpa nam deleniti repellat eos, veritatis non a assumenda autem eligendi qui, quam incidunt veniam natus tempore maiores labore numquam quisquam vitae laudantium eveniet tenetur. Similique perspiciatis eaque magni sapiente illum impedit eligendi nulla, quasi modi suscipit ut non fugiat, labore consectetur fugit possimus sit dolore, quis dolorem quia. Eos ut rerum iste earum culpa beatae veritatis molestiae tenetur asperiores numquam eveniet non assumenda, eum aperiam voluptate ab!
        </article>
    </div>
    
</main>

{% endblock %}