{% extends "static\base.html" %}

{% block content %}



<header class="bg-primary text-white text-center py-5">
    <h1>Products</h1>
</header>

<main class="container mt-5">
    <div class="row mt-3">
        <div class="col-8">
            <h2>This is the products that we offer</h2></div>
        </div>
    <div class="row mt-2">
        <article>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur animi veniam esse blanditiis, adipisci vel saepe consequuntur quod nesciunt a.
        </article>
    </div>
    <div class="row mt-2">
        <article>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur animi veniam esse blanditiis, adipisci vel saepe consequuntur quod nesciunt a.
        </article>
    </div>
    <div class="row mt-2">
        <article>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur animi veniam esse blanditiis, adipisci vel saepe consequuntur quod nesciunt a.
        </article>
    </div>
    <div class="row mt-2">
        <article>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur animi veniam esse blanditiis, adipisci vel saepe consequuntur quod nesciunt a.
        </article>
    </div>
</main>

{% endblock %}