{% extends "static\base.html" %}

{% block content %}


<header class="bg-primary text-white text-center py-5">
    <h1>Login</h1>
</header>

<main class="container mt-5">
    {% if form.errors %}
    <p>Form has errors {{ form.error }}</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>YOu dont have acces</p>
        {% else %}
        <p>Please log in</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
  
</main>
{% endblock %}