{% extends 'models\base.html' %}

{% block content %}

<header class="bg-primary text-white text-center py-5">
    <h1>{{ object.name }}</h1>
</header>

<main class="container mt-5">
    <div class="row ">
        <div class="col-5 border">
            <h3>Brand: {{ object.brand }}</h3>
        </div>
    </div>
    <div class="row ">
        <div class="col-5 border">
            <h3>Category: {{ object.category }}</h3>
        </div>
    </div>
    <div class="row ">
        <div class="col-5 border">
            <h3>Price: ${{ object.price }}</h3>
        </div>

    </div>
</main>

{% endblock %}